.header {
    background: $dark-blue;
}

.header__title {
    color: white;
    text-decoration: none;
}

.header__subtitle2 {
    color: white;
    text-decoration: none;
    padding: $m-size;
}

.header__subtitle3 {
    color: white;
    text-decoration: none;
    padding: $m-size;
}